@import "../template";

.text {
    @extend %text;
    font-size: 18px;
}

.text-xs {
    @extend %text;
    font-size: 16px;
}


.title {
    @extend %title;
}

.button {
    @extend %button;
    background-color: $green;
    width: 245px;
    height: 60px;
    color: $light_btn_text;
    border: none;
}

body {
    background-color: $background;
}


.main {
    &__front-block {}

    &__brand-meaning {
        margin-bottom: 160px;
    }

    &__cards {
        margin-bottom: 160px;
    }
}

.front-block {
    display: flex;
    height: 776.3px;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;

    &__image {
        flex-basis: 50%;
    }

    &__info {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        justify-content: center;
        padding: 37px;
        padding-top: 161px;
    }

    &__title {
        padding-top: 17px;
        margin-bottom: 40px;
        max-width: 514px;
    }

    &__button {
        margin-top: 70px;
        margin-bottom: 94px;
    }

    &__media {
        display: flex;
        justify-content: flex-end;
        gap: 40px;
        margin-right: 103px;
    }

    &__media-icon {
        width: 30px;
        height: 30px;
    }
}



.brand-meaning {
    height: 386px;
    display: flex;
    flex-direction: column;
    padding: 160px 134px 0 140px;
    // margin-bottom: 160px;

    &__title {
        margin-bottom: 100px;
    }


    &__definitions {
        display: flex;
        justify-content: space-between;
        // gap: 46px;
    }

    &__item {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 14px;
    }

    &__text {
        width: 268px;
        text-align: center;
    }

    &__line {
        width: 360px;
        border: solid 2px #715B4B;
    }
}

.our-products {
    height: 674px;
    padding-left: 140px;

    &__title {
        margin-bottom: 100px;
    }

    &__cards {
        width: 1160px;
        // width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: 1fr 1fr;

        @media #{$tablet} {}
    }
}


.card {
    max-width: 290px;
    min-height: 242px;
    width: 100%;
    border: 1px solid #000;
    // padding: 56px 95px 47px 95px;
    padding: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
        height: 100px;
        width: 100px;
        margin-bottom: 20px;
    }
}