@import "../template";

$left: 140px;

.text {
    @extend %text;
    font-size: 18px;
}

.text-xs {
    @extend %text;
    font-size: 16px;
}


.title {
    @extend %title;
}

.button {
    @extend %button;
    background-color: $green;
    width: 245px;
    height: 60px;
    color: $light_btn_text;
    border: none;
}

body {
    background-color: $background;
}


.main {
    &__front-block {
        margin-bottom: 160px;
    }

    &__brand-meaning-block {
        margin-bottom: 160px;
    }

    &__products-block {
        margin-bottom: 160px;
    }

    &__family-block {
        margin-bottom: 160px;
    }

    &__video-block {
        margin-bottom: 200px;
    }
}


.front-block {
    display: flex;
    height: 776.3px;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;

    &__img {
        width: 719px;
    }

    &__info {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        padding: 198.5px 37px 37px 37px;
    }

    &__title {
        padding-top: 17px;
        margin-bottom: 40px;
        max-width: 514px;
    }

    &__button {
        margin-top: 70px;
        margin-bottom: 94px;
    }

    &__media {
        display: flex;
        justify-content: flex-end;
        gap: 40px;
        margin-right: 103px;
    }

    &__media-icon {
        width: 30px;
        height: 30px;
    }
}



.brand-meaning {
    height: 386px;
    display: flex;
    flex-direction: column;
    padding: 0 134px 0 $left;

    &__title {
        margin-bottom: 100px;
    }


    &__definitions {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 14px;
    }

    &__text {
        width: 268px;
        text-align: center;
    }

    &__line {
        width: 360px;
        border: solid 2px #715B4B;
    }
}

.our-products {
    height: 640px;
    padding-left: 140px;

    &__title {
        margin-bottom: 100px;
    }

    &__cards {
        width: 1160px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media #{$tablet} {}
    }
}


.card {
    max-width: 290px;
    min-height: 242px;
    width: 100%;
    border: 1px solid #000;
    padding: auto auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
        height: 100px;
        width: 100px;
        margin-bottom: 20px;
    }
}


.family {
    &__title {
        margin-bottom: 100px;
        padding-left: $left;
    }

    &__content {
        display: flex;
    }

    &__img {
        width: 704px;
    }

    &__info {
        background: #EBEEEB;
        padding: 68px 185px 48px 40px;
        flex-grow: 1;
    }

    &__article {
        width: 515px;
    }

    &__article-title {
        font-size: 24px;
        margin-bottom: 40px;
    }

    &__text {
        height: 135px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 52px;
    }
}

.video {
    height: 900px;
    padding-left: $left;

    &__title {
        margin-bottom: 100px;
    }
}