@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Tenor+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-main {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-family: "Tenor Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #57463A;
  font-size: 48px;
}
@media screen and (max-width: 599px) {
  .title {
    font-size: 32px;
  }
}

.text-xs, .text {
  font-family: "Open Sans", sans-serif;
  color: #323232;
  font-style: normal;
  font-weight: 300;
}

.button {
  cursor: pointer;
}

.text {
  font-size: 18px;
}

.text-xs {
  font-size: 16px;
}

.button {
  background-color: #A1B29F;
  width: 245px;
  height: 60px;
  color: #F6F6F6;
  border: none;
}

body {
  background-color: #F3EFEA;
}

.main__front-block {
  margin-bottom: 160px;
}
.main__brand-meaning-block {
  margin-bottom: 160px;
}
.main__products-block {
  margin-bottom: 160px;
}
.main__family-block {
  margin-bottom: 160px;
}
.main__video-block {
  margin-bottom: 200px;
}

.front-block {
  display: flex;
  height: 776.3px;
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}
.front-block__img {
  width: 719px;
}
.front-block__info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 198.5px 37px 37px 37px;
}
.front-block__title {
  padding-top: 17px;
  margin-bottom: 40px;
  max-width: 514px;
}
.front-block__button {
  margin-top: 70px;
  margin-bottom: 94px;
}
.front-block__media {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-right: 103px;
}
.front-block__media-icon {
  width: 30px;
  height: 30px;
}

.brand-meaning {
  height: 386px;
  display: flex;
  flex-direction: column;
  padding: 0 134px 0 140px;
}
.brand-meaning__title {
  margin-bottom: 100px;
}
.brand-meaning__definitions {
  display: flex;
  justify-content: space-between;
}
.brand-meaning__item {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 14px;
}
.brand-meaning__text {
  width: 268px;
  text-align: center;
}
.brand-meaning__line {
  width: 360px;
  border: solid 2px #715B4B;
}

.our-products {
  height: 640px;
  padding-left: 140px;
}
.our-products__title {
  margin-bottom: 100px;
}
.our-products__cards {
  width: 1160px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card {
  max-width: 290px;
  min-height: 242px;
  width: 100%;
  border: 1px solid #000;
  padding: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__img {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.family__title {
  margin-bottom: 100px;
  padding-left: 140px;
}
.family__content {
  display: flex;
}
.family__img {
  width: 704px;
}
.family__info {
  background: #EBEEEB;
  padding: 68px 185px 48px 40px;
  flex-grow: 1;
}
.family__article {
  width: 515px;
}
.family__article-title {
  font-size: 24px;
  margin-bottom: 40px;
}
.family__text {
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 52px;
}

.video {
  height: 900px;
  padding-left: 140px;
}
.video__title {
  margin-bottom: 100px;
}/*# sourceMappingURL=home.css.map */