@import "../fonts";
@import "../template";

.common-container {
    width: 100%;
}

.title {
    @extend %title;
}

.button {
    @extend %text;
    font-size: 1rem;
    font-weight: bold;
    background-color: aliceblue;
    text-decoration: none;
    @extend %button;

}

.textonbcg {
    @extend %title;
    color: aliceblue;


}

.block-workshops {

    width: 100%;
    margin-bottom: 4%;

    &__button {
        color: $blue;
        padding: 0 4% 0 4%;
    }


    &__trustus {
        height: 59vh;
        padding-top: 8%;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        flex-direction: column;
        background-image: url('/assets/img/images_workshop/BCGTheyTrustUs.png');
        background-repeat: no-repeat;


    }

}

.block-ourworks {

    margin-bottom: 4%;
    width: 1160px;
    margin: 0 auto;

    &__button {
        background-color: $green;
        color: rgb(252, 252, 252);
        padding: 0 4% 0 4%;
        margin-bottom: 5%;
        font-weight: 700;

        @media #{$mobile} {
            height: 0.3em;
            padding: 0 1% 0 1%;
        }
    }

    &__title {
        padding-top: 4%;
        margin-bottom: 7%;

        @media #{$mobile} {
            font-size: 0.5em;
        }
    }

    &__pict {
        font-family: 'Open Sans';
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    &__subtitletitle {
        padding-top: 2%;
    }

    &__wrapper {
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(4, fit-content(25em));
        grid-template-rows: 1fr 1fr;
        column-gap: 35px;
        row-gap: 30px;
    }

    &__wrapper-button {

        padding-top: 4%;
        display: flex;
        justify-content: center;
    }
}

.block-what-technics {
    margin-bottom: 3%;
    width: 1160px;
    margin: 0 auto;

    &__wrapper {
        display: flex;
        flex-direction: column;
    }

    &__items {
        width: 50%;
        display: flex;
        justify-items: center;
        align-self: center;
        flex-direction: column;
    }

    &__no-item {

        padding: 30px;
        background: url('/assets/img/images_workshop/Ellipce.svg');
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        color: aliceblue;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
    }

    &__item {

        padding-top: 10%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }

    &__title {
        margin-bottom: 4%;
    }

    &__subtitle {
        display: flex;
        flex-wrap: nowrap;
        margin-left: 5%;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
    }


}