@import "../template";

.body {
    height: 100%;
  }

.main {
    padding: 30px;
    flex: 1 1 auto;}
    
.footer{
    min-height: 100%;
    background-color: #715B4B;
    display: flex;
    flex-direction: column;
    
    li поменять{
        list-style:none;
    }
    a{
        text-decoration: none;
        color: #F6F6F6;
    }
    .footer_list_logos{
        display: flex;
        justify-content: space-around;
    }
    .footer_item{
        margin-top: 84px;
    }
    .underline{
        position: relative;
      }
      
}