@import "../template";

.container {
    max-width: 1440px;
    margin: 0 auto;
}
.history {
  position: relative;
  &__content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 120px 150px 160px;}
    @media #{$mobile} {
      padding: 130px 0 90px;
  }
  &__title{
    color: #57463A;
    font-family: Tenor Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    max-width: 734px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-left: 120px;

    }
    &__pic{
      width: 1160px;
      height: 536px;
      margin: 0 auto;
      margin-bottom: 160px;
}
    &__row{
      display: flex;
      justify-content: space-between;
      width: 1200px;
      padding: 0 15px;
      margin: 0 auto;
    }
    &__item{
      font-family: Tenor Sans;
      text-align: center;
      margin-bottom: 20px;
      &-title {
        color: $text_color;
        font-size: 48px;
      }
      &-text {
        font-family: Open Sans;
        font-size: 16px;
      }
    }
}

.founder{
  margin: auto;
  width: 1080px;
  height: 312px;
  justify-content: center;
  position: relative;
  &__content{
    position: relative;
    display: flex;
  }
  &__photo{
    width: 460px;
    height: 470px;}
    &-pic{
      height: 100%;
      object-fit: cover;
}
&__dscr{
  padding: 0 0 0 40px;
  &-title{
    margin-bottom: 20px;
    font-family: Tenor Sans;
    font-size: 24px;
  }
  &-subtitle {
    margin-bottom: 70px;
    font-family: Open Sans;
    font-size: 16px;
  }
  &-text {
      text-align: justify;
      font-size: 16px;
      margin-bottom: 30px;
    }
}
}
.philosofi{
  position: relative;
  &__content{
    padding: 160px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}
&__title{
 @extend %title;
 padding: 100px 0 50px 160px;
}
&__subtitle{
  font-family: Open Sans;
  font-size: 24px;
  align-self: flex-end;
  width: 900px;
  text-align: right;
  color: #323232;
  padding-right: 13%;
}
}

.massmedia{
  position: relative;
  &__content{
      padding: 0 0 160px 0;
  }
  &__title{
      @extend %title;
      padding: 100px 0 0 160px;
      
  }
  &__subtitle{
      font-family: Open Sans;
      margin-bottom: 20px;
      padding: 100px 0 0 160px;
  }
  &__slider{
  display: flex;
  }
  &__swiper-slide{
      text-align: center;
      &-pic{
        display:flex;
        max-width: 100%;
      }
  }
}

.application {

  &__title {
    padding: 100px 0 0 160px;
    margin-bottom: 5%;
  }

  &__title-text {
      @extend %title;

      @media #{$tablet} {
          font-size: 38px;
      }

      @media #{$mobile} {
          padding-top: 20%;
          padding-bottom: 7%;
      }
  }

  &__btn {
     height: 200px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 5%;
  }

  &__btn-text {
      cursor: pointer;
      background-color: $green;
      border: none;
      color: $light_btn_text;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      font-weight: 700;
      padding: 18px 52px 18px 52px;

      @media #{$mobile} {
          padding: 18px 79px 18px 79px;
      }
  }
}