@import "../template";
@import "../fonts";

// @import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');


.main {
    &__order {
        background-image: url(../../assets/img/order_images/background-order.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__container {
        min-height: 639px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    &__order-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 9% 0 0 0;
    }

    &__order-text {
        color: $light_btn_text;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;

        @media #{$mobile} {
            width: 80%;
        }
    }

    &__order-worshop {
        @extend %title-action;
        padding: 4% 0 0 0;

        @media #{ $tablet} {
            font-size: 40px;
        }

        @media #{$mobile} {
            font-size: 32px;
            width: 80%;
            padding: 10% 0 0 0;
        }
    }

    &__order-name {
        @extend %title-action;
        padding: 8% 0 0 0;

        @media #{ $tablet} {
            font-size: 43px;
        }

        @media #{$mobile} {
            font-size: 32px;
            padding: 4% 0 0 0;
        }
    }

    &__button{
        @extend %button;
        color: $brown_line;
        background-color: $light_btn_text;
        border: none;
        padding: 18px 92px 18px 92px;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;

        @media #{$tablet} {
            padding: 18px 85px 18px 85px;
        }

        @media #{$mobile} {
            margin-bottom: 20%;
            padding: 18px 78px 18px 78px;
        }
    }
}

.choose-us {
    margin-left: 12%;
    &__container {
        padding-top: 10%;
        margin-bottom: 10%;
    }

    &__title {
        margin-bottom: 9%;
    }

    &__title-text{
        @extend %title;

        @media #{$tablet} {
            font-size: 38px;
        }

        @media #{$mobile} {
            padding-top: 20%;
            padding-bottom: 7%;
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: 12%;
    }

    &__info-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 280px;
        margin-bottom: 5%;

        @media #{$mobile} {
            margin-bottom: 20%;
        }
    }

    &__block-title {
        padding-bottom: 3%;
        @extend %img-subtitle;
        font-size: 16px;
    }

    &__block-line {
        width: 70%;
        height: 1px;
        background-color: #715B4B;
        margin-bottom: 7%;
    }

    &__block-text {
        width: 80%;
        @extend %text-two;
        font-size: 16px;
    }
}
