@import "../template";

.header {
  width: 100%;
  border-bottom: solid 1px #000;

  @media #{$mobile} {
    border-bottom: none;
  }

  &__container {
    max-width: 1190px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    @media #{$mobile} {
      width: 100%;
      padding: 0 10px;
    }

    @media #{$tablet} {
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 136px;
  }

  &__nav {
    max-width: 1197px;
    width: 100%;
  }

  &__items {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media #{$mobile} {
      display: none;
    }
  }

  &__left {
    display: flex;
    flex-basis: 33.3%;
    justify-content: space-between;
    gap: 5px;
    list-style: none;

    @media #{$tablet} {
      flex-basis: 45%;
      justify-content: space-around;
    }
  }

  &__right {
    display: flex;
    flex-basis: 33.3%;
    justify-content: space-between;
    gap: 5px;
    list-style: none;

    @media #{$tablet} {
      flex-basis: 45%;
      justify-content: space-around;
    }
  }

  &__nav-link {
    text-decoration: none;
    @extend %text-two;
    font-size: 16px;

    @media #{$tablet} {
      font-size: 14px;
    }
  }

  &__logo {
    width: 87px;
    height: 86px;
    flex-basis: 33.3%;
    display: flex;
    justify-content: center;

    @media #{$tablet} {
      flex-basis: 10%;
    }
  }

  &__burger {
    display: none;

    @media #{$mobile} {
      display: block;
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
    }
  }

  &__burger-btn {
    border: none;
    cursor: pointer;
  }

  &__burger-img {
    width: 40px;
    height: 40px;
  }


  &__items-mobile {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F3EFEA;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;

    @media #{$mobile} {
      padding-top: 25px;
    }
  }

  &__nav-mobile {
    text-decoration: none;
    font-size: 25px;
    @extend %text-two;
    padding: 8px 8px 8px 32px;
    display: block;
    transition: 0.3s;
  }

  &__nav-mobile:hover {
    text-decoration: underline $brown_line;
    color: $brown_line;
  }

  &__closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-top: 20px;
  }

  &__burger-closed {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: flex-end;
  }


}

.active-link {
  border-bottom: 2px solid $brown_line;
  color: $brown_line;
}